# Ignore binaries.
/bin

.idea/
elm-stuff/
node_modules/

# Ignore built files
app/main.js*
app/css/*.css.gz

# Ignore Environment settings
src/Config/Environment.elm
app/static_config.php

# Ignore PHP packages
vendor/
